@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #3c131a, #16050b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to top left, #fcbad200, hsla(313, 57%, 91%, 0.527));
    backdrop-filter: blur(8px);
    border-radius: 8px;
    z-index: 2;
}

.signup-header h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #212121;
    margin-bottom: 10px;
}

.signup-header p {
    font-size: 0.95rem;
    text-align: center;
    color: rgba(255, 254, 254, 0.393);
}

.signup-body p {
    margin: 10px 0;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p input[type="submit"] {
    background-color: #e8708ca5;
    border: none;
    color: white;
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover {
    background-color: #3c131a;
}

.signup-footer p {
    font-size: 0.9rem;
    color: rgba(255, 254, 254, 0.393);
    text-align: center;
    margin-top: 10px;
}

.signup-footer p a {
    color: #2773a5;
    text-decoration: none;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(to top right, #ffffff55, rgba(254, 254, 254, 0));
    position: absolute;
}

.c1 {
    top: 10%;
    right: 8%;
}

.c2 {
    bottom: 10%;
    left: 8%;
}

@media (min-width: 768px) {

    /* Styles for screens wider than 768px */
    .inner-box {
        width: 30%;
    }

    .circle {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        background: linear-gradient(to top right, #ffffff55, rgba(254, 254, 254, 0));
        position: absolute;
        backdrop-filter: blur(8px);
    }

    .c1 {
        top: 7%;
        right: 30%;
    }

    .c2 {
        bottom: 5%;
        left: 30%;
    }
}